# Python cache files
__pycache__/
*.py[cod]

# IDE and system files
.vscode/
.idea/
.DS_Store

# Virtual environments
.env/
.venv/

# Raw and processed data (veri paylaşılmasın!)
data/raw/
data/processed/
data/*.zip
data/*.csv

# Model checkpoints
models/

# Annotated or predicted outputs
outputs/

# Jupyter checkpoints
.ipynb_checkpoints/
